platform: x64
os: Visual Studio 2015
install:
  - git submodule update --init --recursive
  - ps: Install-Product node 4 x64
  - npm -g install npm@next
  - npm install

test_script:
  - npm test

configuration:
  - Release

build: off
